@using SistemaTarefas.Context
@using SistemaTarefas.Entities
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
 
@model List<Tarefa>
@{
    ViewData["Title"] = "alinea8";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Tarefas Finalizadas</title>
</head>
<body>
<form method="post" asp-controller="L_TarefasFinalizadas" asp-action="Index">
    <table class="table">
        <tr>
            <th>ID Tarefa</th>
            <th>Data de Início</th>
            <th>Data de Fim</th>
            <th>Descrição</th>
        </tr>
        @foreach (Tarefa customer in Model)
        {
            @if (@customer.estado == "finalizado")
            {
                <tr>
                    <td>
                        @customer.id_tarefa
                    </td>
                    <td>
                        @customer.hora_inicio
                    </td>
                    <td>
                        @customer.hora_fim
                    </td>
                    <td>
                        @customer.descricao
                    </td>
                </tr>
            }

        }
    </table>
</form>
</body>
</html>